USE [master]
GO
/****** Object:  Database [OasisHMS]    Script Date: 30/05/2026 1:58:59 pm ******/
CREATE DATABASE [OasisHMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OasisHMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\OasisHMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OasisHMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\OasisHMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OasisHMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OasisHMS]
GO
/****** Object:  User [oasisuser]    Script Date: 30/05/2026 1:58:59 pm ******/
CREATE USER [oasisuser] FOR LOGIN [oasisuser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [oasisuser]
GO
/****** Object:  Table [dbo].[BOOKING]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKING](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[RoomID] [int] NULL,
	[StaffID] [int] NULL,
	[CheckInDate] [date] NULL,
	[CheckOutDate] [date] NULL,
	[Status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPLAINT]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPLAINT](
	[ComplaintID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[RoomID] [int] NULL,
	[Description] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[LoggedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ComplaintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [varchar](255) NULL,
	[CNIC] [varchar](20) NULL,
	[Nationality] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEMAND_LOG]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEMAND_LOG](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NULL,
	[RuleID] [int] NULL,
	[LogDate] [date] NULL,
	[OccupancyRate] [float] NULL,
	[AppliedPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISCOUNT_RECORD]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOUNT_RECORD](
	[DiscountID] [int] IDENTITY(1,1) NOT NULL,
	[LoyaltyID] [int] NULL,
	[BookingID] [int] NULL,
	[DiscountAmount] [float] NULL,
	[ApprovedBy] [varchar](100) NULL,
	[AppliedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[DiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOYALTY_ACCOUNT]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOYALTY_ACCOUNT](
	[LoyaltyID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[TotalPoints] [int] NULL,
	[Tier] [varchar](50) NULL,
	[DiscountRate] [float] NULL,
	[StaffApprovedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoyaltyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAINTENANCE_TICKET]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAINTENANCE_TICKET](
	[TicketID] [int] IDENTITY(1,1) NOT NULL,
	[ComplaintID] [int] NULL,
	[AssignedStaffID] [int] NULL,
	[VerifiedByManager] [int] NULL,
	[Resolution] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[ClosedDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAYMENT]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAYMENT](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[Amount] [float] NULL,
	[PaymentDate] [date] NULL,
	[PaymentMethod] [varchar](50) NULL,
	[Status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICING_RULE]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICING_RULE](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[RuleName] [varchar](100) NULL,
	[TriggerCondition] [varchar](255) NULL,
	[SurgeMultiplier] [float] NULL,
	[ApprovedByManager] [int] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[TypeID] [int] NULL,
	[RoomNumber] [varchar](20) NULL,
	[Floor] [int] NULL,
	[Status] [varchar](30) NULL,
	[PricePerNight] [float] NULL,
	[Capacity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM_SUGGESTION_LOG]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM_SUGGESTION_LOG](
	[SuggestionID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[SuggestedRoomID] [int] NULL,
	[ConfirmedByStaff] [int] NULL,
	[Guests] [int] NULL,
	[PriceRange] [float] NULL,
	[SuggestionDate] [date] NULL,
	[Outcome] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[SuggestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOM_TYPE]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOM_TYPE](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [varchar](50) NULL,
	[Description] [varchar](255) NULL,
	[Amenities] [varchar](255) NULL,
	[BasePrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 30/05/2026 1:58:59 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Role] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[Salary] [float] NULL,
	[ShiftTiming] [varchar](50) NULL,
	[HireDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BOOKING] ON 

INSERT [dbo].[BOOKING] ([BookingID], [CustomerID], [RoomID], [StaffID], [CheckInDate], [CheckOutDate], [Status]) VALUES (3, 1, 2, NULL, CAST(N'2026-05-30' AS Date), CAST(N'2026-05-31' AS Date), N'Completed')
INSERT [dbo].[BOOKING] ([BookingID], [CustomerID], [RoomID], [StaffID], [CheckInDate], [CheckOutDate], [Status]) VALUES (4, 3, 4, NULL, CAST(N'2026-05-30' AS Date), CAST(N'2026-05-31' AS Date), N'Completed')
SET IDENTITY_INSERT [dbo].[BOOKING] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([CustomerID], [Name], [Email], [Phone], [Address], [CNIC], [Nationality]) VALUES (1, N'Muneeb', N'Muneeb@gamil.com', N'123456789', N'house no 16 Gulshan abbas Scheme no 1 hanjarwal multan road', N'4-123456789-1', N'Pakistani')
INSERT [dbo].[CUSTOMER] ([CustomerID], [Name], [Email], [Phone], [Address], [CNIC], [Nationality]) VALUES (2, N'Abdul Rahman', N'abdul03274965177@gmail.com', N'03274965177', N'house no 16 Gulshan abbas Scheme no 1 hanjarwal multan road', N'12345', N'Pakistani')
INSERT [dbo].[CUSTOMER] ([CustomerID], [Name], [Email], [Phone], [Address], [CNIC], [Nationality]) VALUES (3, N'moize', N'moize@gmail.com', N'2345', N'krachi', N'3456789', N'Pakistani')
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[LOYALTY_ACCOUNT] ON 

INSERT [dbo].[LOYALTY_ACCOUNT] ([LoyaltyID], [CustomerID], [TotalPoints], [Tier], [DiscountRate], [StaffApprovedBy]) VALUES (1, 3, 20, N'Bronze', 0.05, 2)
SET IDENTITY_INSERT [dbo].[LOYALTY_ACCOUNT] OFF
GO
SET IDENTITY_INSERT [dbo].[PAYMENT] ON 

INSERT [dbo].[PAYMENT] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [Status]) VALUES (3, 3, 100, CAST(N'2026-05-30' AS Date), N'Bank Transfer', NULL)
INSERT [dbo].[PAYMENT] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [Status]) VALUES (4, 4, 100, CAST(N'2026-05-30' AS Date), N'Cash', NULL)
INSERT [dbo].[PAYMENT] ([PaymentID], [BookingID], [Amount], [PaymentDate], [PaymentMethod], [Status]) VALUES (5, 4, 100, CAST(N'2026-05-30' AS Date), N'Cash', NULL)
SET IDENTITY_INSERT [dbo].[PAYMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOM] ON 

INSERT [dbo].[ROOM] ([RoomID], [TypeID], [RoomNumber], [Floor], [Status], [PricePerNight], [Capacity]) VALUES (2, 1, N'101', 1, N'Available', 100, 3)
INSERT [dbo].[ROOM] ([RoomID], [TypeID], [RoomNumber], [Floor], [Status], [PricePerNight], [Capacity]) VALUES (3, 1, N'102', 1, N'Available', 100, 2)
INSERT [dbo].[ROOM] ([RoomID], [TypeID], [RoomNumber], [Floor], [Status], [PricePerNight], [Capacity]) VALUES (4, 1, N'103', 1, N'Available', 100, 2)
SET IDENTITY_INSERT [dbo].[ROOM] OFF
GO
SET IDENTITY_INSERT [dbo].[ROOM_TYPE] ON 

INSERT [dbo].[ROOM_TYPE] ([TypeID], [TypeName], [Description], [Amenities], [BasePrice]) VALUES (1, N'Standard Room', N'Basic room with a queen bed.', N'WiFi, AC, TV', 100)
INSERT [dbo].[ROOM_TYPE] ([TypeID], [TypeName], [Description], [Amenities], [BasePrice]) VALUES (2, N'Standard Room', N'Basic room with a queen bed.', N'WiFi, AC, TV', 20000)
SET IDENTITY_INSERT [dbo].[ROOM_TYPE] OFF
GO
SET IDENTITY_INSERT [dbo].[STAFF] ON 

INSERT [dbo].[STAFF] ([StaffID], [Name], [Role], [Phone], [Salary], [ShiftTiming], [HireDate]) VALUES (1, N'ALI', N'Receptionist', N'1234567', 20000, N'08:00 AM - 04:00 PM', CAST(N'2026-05-30' AS Date))
INSERT [dbo].[STAFF] ([StaffID], [Name], [Role], [Phone], [Salary], [ShiftTiming], [HireDate]) VALUES (2, N'Abdul Rahman', N'Manager', N'0333333333', 30000, N'08:00 AM - 04:00 PM', CAST(N'2026-05-30' AS Date))
SET IDENTITY_INSERT [dbo].[STAFF] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_CNIC]    Script Date: 30/05/2026 1:58:59 pm ******/
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [UQ_Customer_CNIC] UNIQUE NONCLUSTERED 
(
	[CNIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Email]    Script Date: 30/05/2026 1:58:59 pm ******/
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [UQ_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customer_Phone]    Script Date: 30/05/2026 1:58:59 pm ******/
ALTER TABLE [dbo].[CUSTOMER] ADD  CONSTRAINT [UQ_Customer_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[BOOKING]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[COMPLAINT]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[COMPLAINT]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[DEMAND_LOG]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
ALTER TABLE [dbo].[DEMAND_LOG]  WITH CHECK ADD FOREIGN KEY([RuleID])
REFERENCES [dbo].[PRICING_RULE] ([RuleID])
GO
ALTER TABLE [dbo].[DISCOUNT_RECORD]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKING] ([BookingID])
GO
ALTER TABLE [dbo].[DISCOUNT_RECORD]  WITH CHECK ADD FOREIGN KEY([LoyaltyID])
REFERENCES [dbo].[LOYALTY_ACCOUNT] ([LoyaltyID])
GO
ALTER TABLE [dbo].[LOYALTY_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[LOYALTY_ACCOUNT]  WITH CHECK ADD FOREIGN KEY([StaffApprovedBy])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[MAINTENANCE_TICKET]  WITH CHECK ADD FOREIGN KEY([AssignedStaffID])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[MAINTENANCE_TICKET]  WITH CHECK ADD FOREIGN KEY([ComplaintID])
REFERENCES [dbo].[COMPLAINT] ([ComplaintID])
GO
ALTER TABLE [dbo].[MAINTENANCE_TICKET]  WITH CHECK ADD FOREIGN KEY([VerifiedByManager])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[PAYMENT]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[BOOKING] ([BookingID])
GO
ALTER TABLE [dbo].[PRICING_RULE]  WITH CHECK ADD FOREIGN KEY([ApprovedByManager])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[ROOM]  WITH CHECK ADD FOREIGN KEY([TypeID])
REFERENCES [dbo].[ROOM_TYPE] ([TypeID])
GO
ALTER TABLE [dbo].[ROOM_SUGGESTION_LOG]  WITH CHECK ADD FOREIGN KEY([ConfirmedByStaff])
REFERENCES [dbo].[STAFF] ([StaffID])
GO
ALTER TABLE [dbo].[ROOM_SUGGESTION_LOG]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[CUSTOMER] ([CustomerID])
GO
ALTER TABLE [dbo].[ROOM_SUGGESTION_LOG]  WITH CHECK ADD FOREIGN KEY([SuggestedRoomID])
REFERENCES [dbo].[ROOM] ([RoomID])
GO
USE [master]
GO
